<IfModule mod_rewrite.c>
    RewriteEngine On

    # Blokir akses langsung ke file sensitif
    <FilesMatch "^\.(env|git|json|lock)">
        Order allow,deny
        Deny from all
    </FilesMatch>

    # Arahkan seluruh request ke folder public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
